.order-table {
    border: 2px solid rgb(140, 140, 140);
    width: 60%;
    border-radius: 5px;
    color: rgb(140, 140, 140); 
    padding: 0 2%;
    margin-top: 2%;
    margin-left: 5%;
    text-align: left;
}

.order-table thead {
}
