.products-page {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.artisan-heading {
  font-family: var(--title-font);
  color: var(--text-color);
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.product-card {
  background: var(--primary-color);
  border: 1px solid var(--primary-lighter);
  transition: all 0.3s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.product-image {
  height: 250px;
  background-color: var(--background);
  border-bottom: 1px solid var(--primary-lighter);
}

.product-details {
  padding: 1.5rem;
}

.product-title {
  font-family: var(--title-font);
  color: var(--text-color);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.product-price {
  color: var(--text-secondary);
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.btn {
  background-color: var(--primary-light);
  color: var(--text-color);
  border: none;
  padding: 0.75rem 1.5rem;
  font-family: var(--web-font);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

h4 {
    text-align: center;
    background-color: var(--primary-lighter);
}

.btn:hover {
  background-color: var(--primary-lighter);
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
